section {
	margin: 0 2rem 2rem 2rem;	// sets width == 60rem == 960px

	&:last-of-type {
		margin-bottom: 0;
	}

	// clearfix
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

article {
	max-width: 75%;	// == 45rem == 720px
	padding: 1.5rem 1.5rem 0 1.5rem;
	border-top: .75rem solid $med-green;
	border-bottom: .75rem solid $navy;

	float: left;

	background: white;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);

	a {
		text-decoration: none;
		color: lighten($navy, 25);
		border-bottom: .0625rem dotted;

		&:visited {
			color: $navy;
		}
	}

	@media (max-width: 640px) {
		max-width: 100%;		
	}
}

#registries article {
	border-bottom: none;
	padding-bottom: 1.5rem;
}

aside {
	max-width: 25%;	//	== 15rem == 240px
	padding-left: 2rem;

	float: left;

	@media (max-width: 640px) {
		display: none;	
	}	
}

img {
	max-width: 100%;
	-ms-interpolation-mode: bicubic;
}

.photo {
	padding: 4.16666666%;	// == 8px
	background: white;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.33);
}

.sidebar {
	padding: .5rem;
	margin-bottom: 2rem;
	font-size: 0;

	@media (max-width: 800px) {
		padding: .375rem;
	}
}

h2 {
	padding-bottom: .5rem;

	font: 3*$font-size $slab-serif;
	color: $med-green;

	@media (max-width: 800px) {
		font-size: 2.75*$font-size;
	}
	@media (max-width: 640px) {
		font-size: 2.25*$font-size;
	}
	@media (max-width: 480px) {
		font-size: 1.875*$font-size;
	}
	@media (max-width: 360px) {
		font-size: 1.5*$font-size;
	}	
}

h3 {
	padding-bottom: .5rem;
	
	font: 1.5*$font-size $slab-serif;
	color: $grey-brown;

	@media (max-width: 800px) {
		font-size: 1.375*$font-size;
	}
	@media (max-width: 640px) {
		font-size: 1.125*$font-size;
	}
	@media (max-width: 480px) {
		font-size: 0.9375*$font-size;
	}
	@media (max-width: 360px) {
		font-size: 0.75*$font-size;
	}			
}

p,
ul,
li {
	font: 1.125*$font-size/#{$line-height} $serif;
	color: $dark-grey;

	@media (max-width: 800px) {
		font-size: 1.0625*$font-size;
	}
	@media (max-width: 640px) {
		font-size: $font-size;
	}
	@media (max-width: 480px) {
		font-size: 0.9375*$font-size;
	}
	@media (max-width: 360px) {
		font-size: 0.875*$font-size;
	}	
}

p {
	padding-bottom: 1rem;

	&:last-of-type {
		padding-bottom: 0;
	}
}

.next {
	height: 1.5rem;
	clear: both;

	// clearfix
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	a {
		width: 100%;
		display: block;
		border-bottom: none;

		&:after {
			content:"\00a0";
		}
	}
}

#wedding ul {
	text-align: center;
	list-style: none;

	b {
		font-size: .75*$font-size;
		font-weight: normal;

		@media (max-width: 800px) {
			font-size: .6875*$font-size;
		}
		@media (max-width: 640px) {
			font-size: .625*$font-size;
		}
		@media (max-width: 480px) {
			font-size: 0.5625*$font-size;
		}
		@media (max-width: 360px) {
			font-size: 0.5*$font-size;
		}
	}

	li:first-of-type {
		padding-bottom: .5rem;
		
		font: 1.5*$font-size $slab-serif;
		color: $grey-brown;

		&:before {
		content: "\00bb\00a0";
		}

		&:after {
			content: "\00a0\00ab";
		}

		@media (max-width: 800px) {
			font-size: 1.375*$font-size;
		}
		@media (max-width: 640px) {
			font-size: 1.125*$font-size;
		}
		@media (max-width: 480px) {
			font-size: 0.9375*$font-size;
		}
		@media (max-width: 360px) {
			font-size: 0.75*$font-size;
		}
	}

	li:last-of-type {
		padding-bottom: 1rem;
	}
}

a[href^="tel:"] {
	border-bottom: none;	
	color: $dark-grey;

	@media (max-width: 480px) {
		color: lighten($navy, 25);
		border-bottom: .0625rem dotted;		
	}
}

ul.registryLinks {
	margin-top: 1rem;	
	list-style: none;

	li {
		max-width: 30.66666666%;
		margin-right: 4%;
		padding-bottom: 0;
		float: left;
		font-size: 0;

		&:last-of-type {
			margin-right: 0;
		}

		div.photo {
			line-height: 175%;
		}
	}
	
	a,
	img {
	border: 0;
	}
}

.hero {
	max-width: 100%;
	padding: 0;
	font-size: 0;
	border-bottom: none;
}

.third {
	max-width: 30.66666666%;
	margin: .5rem 1.5rem 0 0;
	float: left;
	font-size: 0;
	padding: 1.19047619%;

	@media (max-width: 480px) {
		max-width: 50%;
		padding: 2%;
	}
}

.right {
	margin-right: 0;
	margin-left: 1.5rem;
	float: right;
}

.half {
	max-width: 48.21428571%;	// == 324px
	margin-top: 3.57142858%;	// == 24px
	margin-right: 3.57142858%;	// == 24px
	padding: 1.19047619%;	// == 8px	
	float: left;
	font-size: 0;

	&:nth-child(2n) {
		margin-right: 0;
	}
}

.map {
	max-width: 100%;
	padding: 1.19047619%;	// == 8px
	margin-top: 1rem;
	display: block;
	background: white;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.33);
}

.wide {
	max-width: 100%;
	padding: 1.19047619%;	// == 8px
	margin-top: 1rem;
	font-size: 0;
}