footer {
	margin: 0 2rem;	// sets width == 60rem == 960px

	clear: both;

	ul {
		width: 100%;
		border-top: .0625rem solid darken($light-grey1, 12.5);
		@include border-bottom-radius(.625rem);
		margin-bottom: 1rem;

		list-style: none;
		background: $light-navy;	// fallback
		@include background(linear-gradient(top, $light-navy, $navy));
		box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
	}

	li {
		text-align: center;
	}

	a {
		padding: .5rem 1rem;

		display: block;	// makes anchor clickable

		font: .875*$font-size $serif;
		text-decoration: none;
		color: white;
	}
}