header {
	margin: 0 2rem;	// sets width == 60rem == 960px
}

h1 {
	margin-top: 1.5rem;

	font: 3.75*$font-size $slab-serif;
	line-height: 125%;
	text-align: right;
	color: $light-navy;

	b {
		font-family: $serif;
	}

	@media (max-width: 800px) {
		font-size: 3.375*$font-size;
	}
	@media (max-width: 640px) {
		font-size: 2.75*$font-size;
	}
	@media (max-width: 480px) {
		font-size: 2.25*$font-size;
		text-align: center;
	}
	@media (max-width: 360px) {
		font-size: 2*$font-size;
	}
}

nav {

	ul {
		width: 100%;	// sets width to body width (for setting background color)
		border-bottom: .0625rem solid $dark-grey;
		@include border-top-radius(.625rem);

		// clearfix
		&:after {
			content: "";
			display: table;
	 		clear: both;
		}

		list-style: none;
		background: $light-navy;	// fallback
		@include background(linear-gradient(top, $light-navy, $navy));
	}
	
	li {
		border-right: .0625rem solid $dark-grey;
		box-shadow: .0625rem 0 0 darken($light-grey1, 12.5);

		float: left;

		a {
			@media (max-width: 800px) {
				font: .875*$font-size $slab-serif;
				padding: .5rem .75rem;
			}

			@media (max-width: 640px) {
				font: .9375*$font-size $slab-serif;
			}
		}

		&:first-child {
			@media (max-width: 640px) {
				@include border-top-radius(.625rem);
			}
		}

		&:first-child	a {
			@include border-top-left-radius(.625rem);

			@media (max-width: 640px) {
				@include border-top-right-radius(.625rem);
			}
		}

		@media (max-width: 640px) {
			width: 100%;
			border-right: 0;
			border-bottom: .0625rem solid $dark-grey;
			box-shadow: none;			
			text-align: center;
			@include background(linear-gradient(top, $light-navy, $navy));
		}

		&:last-child {
			@media (max-width: 640px) {
				border-bottom: none;
			}
		}
	}
	
	a {
		padding: .5rem 1.3125rem;

		display: block;	// makes anchor clickable

		font: $font-size $slab-serif;
		text-decoration: none;
		color: white;
		text-shadow: .0625rem .0625rem 0 black;

		&:hover, &:focus {
			background: $navy;
			@include single-transition(all, 0.1s, ease-in-out, 0);
		}
	}
}

p.headline {
	width: 100%;
	padding: .25rem;
	border-top: .0625rem solid darken($light-grey1, 12.5);

	background: darken($med-green, 12.5);
	font: 1.125*$font-size $serif;
	text-align: center;
	color: white;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);

	@media (max-width: 480px) {
		font-size: 0.875*$font-size;
	}
	@media (max-width: 360px) {
		font-size: 0.75*$font-size;
	}

	&:before {
		content: "\00bb\00a0";
	}

	&:after {
		content: "\00a0\00ab";
	}

	a {
		text-decoration: none;
		color: inherit;
		text-shadow: .0625rem .0625rem 0 $dark-grey;
	}
}