h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

// corrects "block" display not defined in IE 8/9
header,
footer,
nav,
section,
article,
aside {
	display: block;
}

* {
	@include box-sizing(border-box);
}