@font-face {
	font-family: "Chunkfive-webfont";
	src: url("fonts/Chunkfive-webfont.eot");
	src: local("☺"),
		url("fonts/Chunkfive-webfont.woff") format("woff"),
		url("fonts/Chunkfive-webfont.otf") format("opentype"),
		url("fonts/Chunkfive-webfont.svg#Chunkfive-webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GoudyStM-webfont";
	src: url("fonts/GoudyStM-webfont.eot");
	src: local("☺"),
		url("fonts/GoudyStM-webfont.woff") format("woff"),
		url("fonts/GoudyStM-webfont.otf") format("opentype"),
		url("fonts/GoudyStM-webfont.svg#GoudyStM-webfont") format("svg");
	font-weight: normal;
	font-style: normal;
}

$slab-serif: Chunkfive-webfont, sans-serif;
$serif: GoudyStM-webfont, serif;

$font-size: 1rem;     // 16px
$line-height: 175%;   // 20px