@import "compass/css3";

@import "reset";
@import "typography";
@import "colors";

html {
	font-size: 100%;	// 16px default base for using rem units
}

body {
	max-width: 64rem;	// == 1024px
	min-width: 20rem;	// == 320px
	margin: 0.5rem auto;
	
	background: $cream;
}

@import "module_header";
@import "module_section";
@import "module_footer";